<div class="bowling-container">
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" ng-repeat="lane in lanes track by $index" ng-show="lane.length">
    <div class="lane-name">{{lane[0].lane}}</div>
    <div ng-repeat="player in lane">
      <div class="lane-name">{{player.name}}</div>
      <ul class="lane-row clearfix">
        <li ng-repeat="i in range(10)" ng-class="{'tenth-frame': $last}">
          <div class="frame-number-container">{{$index+1}}</div>
          <div class="score-container" ng-class="{'tenth-frame': $last}">
            <div class="throw-score">{{player['squareScore'+ (($index*2)+1)]}}</div>
            <div class="throw-score">{{player['squareScore'+ (($index*2)+2)]}}</div>
            <div class="throw-score" ng-if="i===10">{{player['squareScore21']}}</div>
            <div class="frame-score">{{player['frameScore' + (i+1)]}}</div>
          </div>
        </li>
      </ul>
    </div>
    </div>
  </div>
<div class="footer">
  <p><i class="fa fa-heart"></i> frá <a href="https://twitter.com/enordfjord">Einari</a></p>
</div>
</div>
