
<div class="row">
  <div class="col-md-12">
  <div class="embedded-video">
    <iframe width="480" height="384" align="middle" src="http://www.ustream.tv/embed/16608268" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe>
  </div>
  </div>
</div>

<!--
  This is where we should display our games, one for each lane
  the division is played with four players on each lane so I
  have no hopes of making this fully responsive
-->
<div class="row">
  <div class="col-md-6" ng-repeat="lane in lanes track by $index">
  <div  ng-repeat="player in lane">
  <div class="lane-name">{{player['name']}}</div>
  <ul class="lane-row clearfix">
    <li ng-repeat="i in range(10) track by $index">
      <div class="frame-number-container">{{$index+1}}</div>
      <div class="score-container" ng-class="{'tenth-frame': $last}">
        <div class="throw-score">{{player['squareScore'+ (($index*2)+1)]}}</div>
        <div class="throw-score">{{player['squareScore'+ (($index*2)+2)]}}</div>
        <div class="throw-score" ng-if="$last">{{player['squareScore21']}}</div>
        <div class="frame-score">{{player['frameScore' + ($index+1)]}}</div>
      </div>
    </li>
  </ul>
  </div>
  <div class="lane-name">Total</div>
  <ul class="lane-row clearfix">
    <li ng-repeat="i in range(10) track by $index">
      <div class="frame-number-container">{{$index+1}}</div>
      <div class="score-container">
        <div class="throw-score">&nbsp;</div>
        <div class="throw-score">&nbsp;</div>
        <div class="frame-score">{{total($index+1, lane)}}</div>
      </div>
    </li>
  </ul>
  </div>
  <div class="col-md-6"></div>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> frá <a href="https://twitter.com/enordfjord">Einari</a></p>
</div>
